<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysUserAnnotationInfoMapper">
    
    <resultMap type="com.ruoyi.system.domain.SysUserAnnotationInfo" id="SysUserAnnotationInfoResult">
        <result property="userId" column="user_id"/>
        <result property="datasetName" column="dataset_name"/>
        <result property="currentIndex" column="current_index"/>
        <result property="datasetSubSet" column="dataset_sub_set"/>
    </resultMap>

    <select id="selectByUserId" parameterType="Long" resultMap="SysUserAnnotationInfoResult">
        select user_id, dataset_name, current_index, dataset_sub_set
        from user_annotation_info
        where user_id = #{userId}
    </select>

    <update id="updateAnnotationInfo" parameterType="com.ruoyi.system.domain.SysUserAnnotationInfo">
        update user_annotation_info
        set current_index = #{currentIndex}
        where user_id = #{userId}
    </update>

    <insert id="insertAnnotationInfo" parameterType="com.ruoyi.system.domain.SysUserAnnotationInfo">
        insert into user_annotation_info (
            user_id, dataset_name, current_index, dataset_sub_set
        ) values (
            #{userId}, #{datasetName}, #{currentIndex}, #{datasetSubSet}
        )
    </insert>

</mapper> 