<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hsc.mapper.SysUserAnnotationInfoMapper">
    
    <resultMap type="com.ruoyi.hsc.domain.SysUserAnnotationInfo" id="SysUserAnnotationInfoResult">
        <result property="userId" column="user_id"/>
        <result property="datasetName" column="dataset_name"/>
        <result property="currentIndex" column="current_index"/>
        <result property="datasetSubSet" column="dataset_sub_set"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectByUserId" parameterType="Long" resultMap="SysUserAnnotationInfoResult">
        select user_id, dataset_name, current_index, dataset_sub_set, create_time, update_time
        from user_annotation_info
        where user_id = #{userId}
    </select>

    <select id="selectByUserAndDataset" resultMap="SysUserAnnotationInfoResult">
        select user_id, dataset_name, current_index, dataset_sub_set, create_time, update_time
        from user_annotation_info
        where user_id = #{userId} 
        and dataset_name = #{datasetName} 
        and dataset_sub_set = #{datasetSubSet}
    </select>

    <update id="updateAnnotationInfo" parameterType="com.ruoyi.hsc.domain.SysUserAnnotationInfo">
        update user_annotation_info
        set current_index = #{currentIndex},
            update_time = CURRENT_TIMESTAMP
        where user_id = #{userId}
        and dataset_name = #{datasetName} 
        and dataset_sub_set = #{datasetSubSet}
    </update>

    <insert id="insertAnnotationInfo" parameterType="com.ruoyi.hsc.domain.SysUserAnnotationInfo">
        insert into user_annotation_info (
            user_id, dataset_name, current_index, dataset_sub_set, create_time, update_time
        ) values (
            #{userId}, #{datasetName}, #{currentIndex}, #{datasetSubSet}, 
            CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
        )
    </insert>

</mapper> 